* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;

    text-decoration: none;
    font-family: 'Nunito', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--grey);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --green: hsla(108, 34%, 86%, 100%);
    --light-green: hsla(105, 12%, 93%, 100%);
    --grey: hsla(108, 0%, 32%, 100%);
    --light-grey: hsla(0, 0%, 63%, 100%);
    --white: hsla(0, 0%, 100%, 100%);
    --blue: hsla(209, 43%, 87%, 100%);
    --orange: hsla(36, 71%, 81%, 100%);
    --transparent-black: hsla(0, 0%, 0%, 25%);

    background-color: grey;
}




/*FONT*/

.text--17{
    font-size: 17px;
}

.text--23{
    font-size: 23px;
}

.heading--S{
    font-size: 24px;
}

.heading--M{
    font-size: 28px;
}

.heading--L{
    font-size: 30px ;
}




/*BUTTONS*/

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    background: var(--white);
    border-radius: 12px;
    cursor: pointer;
    gap: 5px
}

.btn--S{
    width: 44px;
}

.btn--M{
    padding: 0 14px;
}

.btn--L{
    width: 100%;
    padding: 0 14px;
}

.btn--calc {
    width: 65px;
}

.btn--send {
    position: absolute;
    right: 4px;
    width: 57px;
    height: 36px;
    border-radius: 8px;
}

.btn--green{
    background: var(--green);
}





/*FORMS*/

textarea:focus, input:focus{
    outline: none;
}

input[type=text] {
    padding: 0 14px 0 14px;
    height: 44px;
    border-radius: 12px;
}

::placeholder{
color: var(--light-grey);
}

.text-field--S{
    width: 170px;
}

.text-field--M {
    width: 210px;

}

.text-field--L {
    width: 100%;
}





/*ALIGNMENT*/

.icon-container{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-right{
    place-self: end;
}

.align-bottom{
    position: absolute;
    bottom: 20px;
}





